.body-container-grid {
    display: grid;
    grid-template-columns: 20fr 60fr 20fr;
    grid-template-rows: 20fr 60fr 20fr;
    grid-template-areas:
    "header header header"
    "blankL main blankR"
    "footer footer footer";
    height: 100vh;
    width: 100vw;
  }

  header {
      grid-area: header;
      display: grid;
      

  }
  
  main {
    /* width: 30em; */
    grid-area: main;
    justify-self: center;
  }

  footer {
      grid-area: footer;
      display: grid;
  }
  
  .header-left {
      grid area: header-left;
  }

  .header-right {
      grid-area: header-right;
  }
  
  .footer-left {    
    grid-area: footer-left;
  }

  .footer-right {
      grid-area: footer-right;
  }
  

header a, footer a {
    text-decoration: none;
    color: black;
}