.body-container-grid {
    display: grid;
    grid-column: auto;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
        "header-left blank1C header-right"
        "blank2L main blank2R"
        "footer-left blank3C footer-right";
    height: 100vh;
    width: 100vw;
  }
  
  main {
    /* width: 30em; */
    grid-area: main;
    justify-self: center;
  }
  
  .header-left {
      grid area: header-left;
  }

  .header-right {
      grid-area: header-right;
      justify-self: right;
  }
  
  .footer-left {    
    grid-area: footer-left;
  }

  .footer-right {
      grid-area: footer-right;
      justify-self: right;
  }
  

header a, footer a {
    text-decoration: none;
    color: black;
}