/* LAYOUT */

body {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
  }

.header-left {
  flex: auto;
  padding-left: 1em;
}

.header-right {
  padding-right: 1em;
}


main {
  width: 30em;
  margin: auto;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  }

.footer-left {
  flex: auto;
  padding-left: 1em;
}

.footer-right {
  padding-right: 1em;
}

li

/* TYPOGRAPHY */

html {
    font-size: 100%;
}

body {
	  font-family: arial, sans-serif;
}

header a, footer a {
	font-size: 0.8125rem;
  text-decoration: none;
  color: black;
	color: #000;
	opacity: 0.75;
}

header a:hover, footer a:hover {
  text-decoration: underline;
}

li {
  display: inline;
  list-style-type: none;
  padding-right: 1em;
}
