/* LAYOUT */

body {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
  }

.header-left {
  flex: auto;
  padding-left: 1em;
}

.header-right {
  padding-right: 1em;
}


main {
  width: 30em;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.container-branding {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.google-logo {
  width: 60%;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  }

.footer-left {
  flex: auto;
  padding-left: 1em;
}

.footer-right {
  padding-right: 1em;
}

/* TYPOGRAPHY */

html {
    font-size: 100%;
}

body {
	  font-family: arial, sans-serif;
}

header a, footer a {
	font-size: 0.8125rem;
  text-decoration: none;
  color: black;
	color: #000;
	opacity: 0.75;
}

header a:hover, footer a:hover {
  text-decoration: underline;
}

li {
  display: inline;
  list-style-type: none;
  padding-right: 1em;
}

#container-search-input {
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 3em;
  margin: 0 auto;
}

#container-search-input svg {
  flex-basis: 1.5em;
  width: 100%;
  margin: 0 1em 0 1em;
  color: gray;
  fill: currentColor;
}

form[name="google-search"] {
  flex-basis: 80%;
  display: flex;
}

input[name="search"] {
  border: none;
  flex-basis: ;
  width: 100%;
}



.container-buttons {
  display: flex;
  justify-content: center;
}

button {
  background: #f2f2f2;
  color: gray;
  border: none;
  margin: 0.64em;
  padding: 0.64em;
  border-radius: 8px;
  

}
